{% extends "home.html" %}
{% load static%}

{%block contenido %}

<div class="d-flex justify-content-center">Perfil</div>
<div class="d-flex justify-content-center">
    <ul>
        <li>Usuario: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Nombre: {{ user.first_name }}</li>
        <li>Apellido: {{ user.last_name }}</li>
    </ul>
</div>

<div class="d-flex justify-content-center">
        <ul><a class="btn btn-primary btndj" href="/DataDB/editarPerfil">Editar Perfil</a></ul>
		<ul><a class="btn btn-primary btndj" href="/DataDB/changePW">Cambiar contraseña</a></ul>
        <ul><a class="btn btn-primary btndj" href="/DataDB/logout/">Cerrar sesion</a></ul>
        <ul><a class="btn btn-primary btndj" href="/admin">Administracion</a></ul>
        	
</div>
{%endblock%}